---
layout: archive
title: "学术论文 Publications"
permalink: /publications/
author_profile: true
---

<div class="wordwrap">全部论文列表详见我的 <a href="https://dblp.uni-trier.de/pid/197/9561.html">DBLP 页面</a>。Please refer to my <a href="https://dblp.uni-trier.de/pid/197/9561.html">DBLP page</a> for the full list.</div>

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



